<div style="display:{% if display == 1 %}block;{% else %} none;{% endif %}" id="tutorial_container">
    <div id="guide_overlay"></div>
<div id="guide_container" class="borderbox">
    <div id="guide_arrow" class="top"></div>
    <div class="guide_row top_row">
        <div id="guide_progress">
            <span id="guide_type">Activity</span> (<span id="guide_progressed">1</span>/<span
                id="guide_of_total">3</span>)
        </div>
        <div id="guide_close" title="Close Guide"></div>
    </div>
    {% include 'SprinkleBitTutorialBundle:Tutorials:' ~ route ~ '.html.twig' ignore missing %}
    <div class="guide_row actions_row">
        <div class="btn btn_link btn_small" id="guide_close_button">Close Guide</div>
        <div id="guide_nav">
            <div class="btn btn_link btn_small btn_disabled" id="guide_prev">Prev</div>
            <div class="btn btn_link btn_small" id="guide_next">Next</div>
        </div>
    </div>
</div>
</div>

<script>

    $(document).ready(function () {
        var tutorial = Tutorial.getInstance();
        tutorial.Initialize("{{ display }}");
        tutorial.SetCurrentRoute("{{ route }}");
    });
</script>