<div class="content_row guide_row" style="display:none;"  arrow="top" element="tutorial_about_tab">
    <h3>Tell us who you are!</h3>
    <p><strong>About</strong> is where you brag about yourself. Other members will find you and get to know you by the information you put here, so be sure to fill it out! (1 of 6)</p>
</div>

<div class="content_row guide_row" style="display:none;"  arrow="top" element="about_edit">
    <h3>Easy one-click to start updating!</h3>

    <p>Click the pen icon to edit your information.</p>
</div>
<div class="content_row guide_row" style="display:none;"  arrow="top" element="progressbar">
    <h3>How much are you willing to risk?</h3>

    <p><strong>Risk Tolerance</strong> is where you indicate how much you can stand to lose. Are you OK with losing 10%? 20%? 50%? Drag the slider to set your risk tolerance.</p>
</div>
<div class="content_row guide_row" style="display:none;"  arrow="top" element="tutorial_work_experience_block">
    <h3>Let's trade business cards!</h3>

    <p><strong>Work experience</strong> lets others know where you've been and what you've done.</p>
</div>
<div class="content_row guide_row" style="display:none;"  arrow="top" element="tutorial_investing_objective_box">
    <h3>What are your interests and goals?</h3>

    <p>Let people know what you're interested in so you can form more meaningful connections on SprinkleBit.</p>
</div>
<div class="content_row guide_row" style="display:none;"  arrow="top" element="tutorial_sector_specialty_box">
    <h3>What sectors are you interested in?</h3>

    <p><strong>Sector speciality</strong> is really important for someone who is looking to build a good portfolio. Try to connect with at least one person with speciality in each sector. If you have friends working in a special sector, invite them or find new connections through the friends tab.</p>
</div>

