<div class="content_row guide_row" style="display:none;"  arrow="top" element="edu_header">
    <h3>Track your progress!</h3>
    <p>The header area displays what chapter you're on, you current status, and how well you're performing on the quizzes.</p>
</div>

<div class="content_row guide_row" style="display:none;"  arrow="top" element="chapter_social">
    <h3>Knowledge is valuable! Share the wealth!</h3>
    <p>We think information should be open and shared freely. If you think your friends would benefit from any of the educational content we provide, please feel free to share it with them.</p>
</div>
<div class="content_row guide_row" style="display:none;"  arrow="top" element="tutorial_education_comment_box">
    <h3>Got a question? Ask the SprinkleBit nation!</h3>
    <p>Education should be a dialog. Have a question or comment? Leave it here and get a response.</p>
</div>