<div class="content_row guide_row" style="display:none;"  arrow="top" element="tutorial_friends_sbit_tab">
    <h3>We're social creatures, so invite your friends!</h3>
    <p>Use the <strong>Friends</strong> tab to connect with other SprinkleBit users, invite friends, and connect your SprinkleBit account with your social networks for a better experience.</p>
</div>

<div class="content_row guide_row" style="display:none;"  arrow="top" element="tutorial_facebook_tab">
    <h3>Invite your colleagues too!</h3>

    <p>Sync with your social networks to improve your experienc and see which of your friends are already using SprinkleBit.</p>
</div>
<div class="content_row guide_row" style="display:none;"  arrow="top" element="tutorial_friend_addfriend">
    <h3>Game on! </h3>

    <p>Invite friends so you can compete, share ideas, and have fun together on SprinkleBit.</p>
</div>
<div class="content_row guide_row" style="display:none;"  arrow="top" element="friends_list">
    <h3>List of Friends</h3>

    <p>See your friends here and easily sort them based on performance.</p>
</div>
<div class="content_row guide_row" style="display:none;"  arrow="top" element="investors">
    <h3>Top Investors</h3>

    <p>Find the top investors on SprinkleBit to connect with.</p>
</div>
<div class="content_row guide_row" style="display:none;"  arrow="top" element="world">
    <h3>World Map</h3>

    <p>See where in the world you friends are located.</p>
</div>