<div class="content_row guide_row" style="display:none;"  arrow="top" element="tutorial_marketplace_overview_tab">
    <h3>Welcome to your SprinkleBit Markets overview!</h3>
    <p><strong>Overview</strong> will give you a quick overview of the latest market information.</p>
</div>

<div class="content_row guide_row" style="display:none;"  arrow="top" element="tutorial_marketplace_header_block">
    <h3>See your portfolio at a glance.</h3>
    <p>Here you can also get a quick glance of your own portfolio.</p>
</div>

<div class="content_row guide_row" style="display:none;"  arrow="top" element="tutorial_marketplace_blogpost_wp">
    <h3>Stay up-to-date with tips and tricks!</h3>
    <p>And new SprinkleBit blog post are featured here for your convenience.</p>
</div>
<div class="content_row guide_row" style="display:none;"  arrow="top" element="js_index_graph">
    <h3>How are the markets doing?</h3>
    <p>The <strong>index</strong> shows you how the markets are performing. This includes the S&P 500, Nasdaq, Dow Jones, and the 10 Year Bond yield.</p>
</div>
<div class="content_row guide_row" style="display:none;"  arrow="top" element="tutorial_gainers_losers">
    <h3>Who's winning and who's losing?</h3>
    <p>Here you can see the latest market movements, sector shifts, and the latest headlines.</p>
</div>

<div class="content_row guide_row" style="display:none;"  arrow="top" element="tutorial_recent_orders_bought_sold">
    <h3>Recent orders, most bought, most sold,</h3>
    <p><strong>Recent orders</strong> shows you how the SprinkleBit community is trading in realtime. *Most bought* and *Most sold* also shows you the most popular buys and sells among SprinkleBit users.</p>
</div>

