<div class="content_row guide_row" style="display:none;"  arrow="top" element="tutorial_box_orders">
    <h3>View your Orders at-a-glance.</h3>

    <p>The <strong>orders</strong> tab shows all your executed and pending orders.</p>
</div>

<div class="content_row guide_row" style="display:none;"  arrow="top" element="tutorial_order_filters">
    <h3>You can sort your Orders too!</h3>

    <p>Use these filters to sort your orders.</p>
</div>
<div class="content_row guide_row" style="display:none;"  arrow="top" element="tutorial_sort_order_filter">
    <h3>Easily see your trading history!</h3>

    <p>You can also sort after date or ticker and view up to 100 orders at once.</p>
</div>