
<div class="content_row guide_row" style="display:none;"  arrow="top" element="subitem_portfolio">
    <h3>Welome to your SprinkleBit Portfolio!</h3>

    <p><strong>Portfolio</strong> is where you'll keep an eye on your holdings and stock performance.</p>
</div>

<div class="content_row guide_row" style="display:none;"  arrow="top" element="select_portfolio_account">
    <h3>Switch it up!</h3>

    <p><strong>Portfolio Change</strong> allows you to add as many portfolios as you'd like.</p>
</div>
<div class="content_row guide_row" style="display:none;"  arrow="top" element="section_box_portfolio">
    <h3>How do you stack up?</h3>

    <p>These numbers show your investment performance.</p>
</div>
<div class="content_row guide_row" style="display:none;"  arrow="top" element="js_graph_portfolio">
    <h3>Stay up-to-date with the news</h3>

    <p>... and here your performance is displayed in a graph. Next to the graph we display news that corresponds with your current holdings.</p>
</div>
<div class="content_row guide_row" style="display:none;"  arrow="top" element="portfolio_your_stocks">
    <h3>What are you holding?</h3>

    <p>Easily see your holdings, their individual perfomance, and more.</p>
</div>