<div class="content_row guide_row"  style="display:none;" arrow="top" element="mainmenu">
    <h3>Meet your new SprinkleBit Profile!</h3>

    <p><strong>Profile</strong> is where everything personal to you lives.</p>
    <p><strong>Markets</strong> is where you'll find stocks and see how the market is doing.</p>
    <p><strong>Education</strong> is where you'll learn how to invest and improve your existing knowledge.</p>
    <p><strong>News</strong> is where you'll discover the latest market news.</p>
</div>
<div class="content_row guide_row" style="display:none;"  arrow="top" element="js_open_search">
    <h3>Start searching for stocks to trade!</h3>

    <p>Use <strong>search</strong> to find stocks and other users. Click the magnifying glass to get started or simply just start typing.</p>

</div>

<div class="content_row guide_row" style="display:none;"  arrow="top" element="jsentrybox">
    <h3>Sprinkle your thoughts!</h3>

    <p>This is where you'll sprinkle your thoughts, links, and photos - anything you want to share with the SprinkleBit community.</p>
</div>

<div class="content_row guide_row" style="display:none;"  arrow="top" element="share_link_icon">
    <h3>See something you found helpful? Share it!</h3>

    <p>Click here to share a link. We automatically pull a short description and image thumbnail for you! Because no one likes a boring old link by itself!</p>
</div>
<div class="content_row guide_row" style="display:none;"  arrow="top" element="share_photo_icon">
    <h3>What's a picture worth? Share it!</h3>

    <p>... and here to upload a photo.</p>
</div>
<div class="content_row guide_row" style="display:none;"  arrow="top" element="js_category_select">
    <h3>Filter your activity feed!</h3>

    <p>Use these filters to conveniently sort the activity feed.</p>
</div>