<div class="content_row guide_row" style="display:none;"  arrow="top" element="tutorial_marketplace_recent_orders_tab">
    <h3>What is the Community trading?</h3>
    <p><strong>Recent orders</strong> shows you how the SprinkleBit community is trading in realtime.</p>
</div>

<div class="content_row guide_row" style="display:none;"  arrow="top" element="recent_feed">
    <h3>Check out other Sprinklers' order activity. Learn something new!</h3>
    <p>Clicking a user's recent order will show you information about their trade, whether they bought or sold based on a news article, following another user, or some other motivation. This gives you insight into the trading behavior of other users and hopefully helps you perfect your own investing skills.</p>
</div>