<div class="content_row guide_row" style="display:none;"  arrow="top" element="tutorial_marketplace_stock_listing_tab">
    <h3>Start searching for stocks to trade!</h3>
    <p><strong>Stock Listing</strong> is where you'll search for stocks. If you know what you're looking for, great! Or you can filter by sector.</p>
</div>

<div class="content_row guide_row" style="display:none;"  arrow="top" element="tutorial_stock_details_button">
    <h3>Do your company research first!</h3>
    <p>Click any company to get a more detailed view. From here you can also place an order directly.</p>
</div>


