<div class="content_row guide_row" style="display:none;"  arrow="top" element="tutorial_marketplace_visualizer_tab">
    <h3>Meet the SprinkleBit Visualizer!</h3>
    <p>The <strong>visualizer</strong> gives you an alternative - and pretty cool - view of how the market is doing. It's also interactive, so remember to check it out!</p>
</div>

<div class="content_row guide_row" style="display:none;"  arrow="top" element="tutorial_visualizer_box">
    <h3>Size DOES matter!</h3>
    <p>The size of the box is the size of the company (market cap) The color is the change. Scroll in order to soom in or out. Hold down the mouse and move the window around to enter other industries.</p>
</div>